nav label, nav #hamburger{
  display: none;
  font-size: 45px;
  color: #faf8f6;
  line-height: 1;
}

.menu{
    display: inline;
    margin-left: -3rem;
}

.logo{
    display: inline;
    width: 1.5rem;
    float: left;
    margin-left: 1rem; 
}

.back{
    color: #faf8f6;
    text-transform: uppercase;
    float: right;
    text-align: left;
    padding-right: 3.5rem;
}

@media (max-width: 35rem){
  header{
    text-align: center;
    padding-left: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: fixed;
    background-color: black;
  }

  .back{
      float: left;
      padding-left: 2rem;
      padding-top: .7rem;
  }

  .logo{
    width: 3rem;
    float: right;
    margin-right: 1.7rem;
    margin-left: -1rem;
  }
  
  nav label{
    display: inline;
    float: left;
    margin-left: 1.7rem;
    cursor: pointer;
    padding-bottom:0; 
  }

  nav .navlink{
    display: block;
    padding: 1rem 6rem;
    margin-left: 0;
  }

  nav .navlink:hover{
    background-color: rgba(100, 100, 100, .3);
  }

  .menu{
    display: none;
    text-align: left;
  }

  nav #hamburger{
    display: none;
  }

  nav #hamburger:checked ~ .menu{
    display: block;
    padding-top: 4.5rem;
  }
}