.example{
    margin-top: 0;
}

header{
    background-color: black;
    width: 100%;
    padding: 1rem;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: 0px 3px 5px #878685;
    z-index: 1;
    text-align: center;
}

nav{
    font-family: RobotoM;
}

code p{
    display: block;
}


/*
FONTS
*/
@font-face {
    font-family: RobotoM;
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: RobotoL;
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: Existence;
    src: url('fonts/existence-light-webfont.woff2') format('woff2'),
         url('fonts/existence-light-webfont.woff') format('woff');
    font-style: normal;
}

h1{
    font-family: RobotoM;
    font-size: 70px;
    padding-top: 2rem;
    text-align: center;
}

h2{
    font-family: Existence;
    font-size: 31px;
    padding-top: 2rem;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #73716f, #ebe9e7);
    border-image-slice: 1;
    
}

h3{
    font-family: RobotoL;
    font-size: 27px;
}

h4{
    font-family: RobotoL;
    font-size: 22px;
}

p{
    display: inline-block;
    font-size: 18px;
}
/*
FONTS END
*/


body{
    overflow-x: hidden;
    padding: 3rem;
    margin: 0;
}

/*
ELEMENTS
*/
a{
    text-decoration: none;
}

code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
}

li{
    font-size: 18px;
    list-style-type: none;
    padding: .5rem;
}

li, p{
    line-height: 1.5rem;
}
/*
ELEMENTS END
*/


/*
CLASSES
*/
.button{
    font-family: RobotoL;
    font-size: 18px;
    color: #e8e3e0;
    background-color: #73716f;
    padding: 1rem;
    text-transform: uppercase;
    border: none;
    transition-property: background-color; 
    transition-duration: 1s;
    transition-property: color; 
    transition-duration: 1s;
}

.button:hover, .button:focus{
    color: #73716f;
    background-color: #e8e3e0;
    padding: 1rem;
    text-transform: uppercase;
    
}

.element{
    padding-bottom:1rem;
}

.example{
    background-color: black;
    padding: 1rem;
    width: 100%;
    position: absolute;
    box-shadow: 0px 3px 5px #878685;
    z-index: 1;
    text-align: center;
    left: 0;
}

.flip{
  background-color: transparent;
  width: 20rem;
  height: 20rem;
  perspective: 1000px;
}

.flip .imglink{
  width: 20rem;
  height: 20rem;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip:hover .flip-inner {
  transform: rotateX(180deg);
}

.flip-front, .flip-back1, .flip-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-back1 {
  background-color: white;
  color: black;
  transform: rotateX(180deg);
}

.flip-back2 {
  background-color: black;
  color: white;
  transform: rotateX(180deg);
}

.intext{
    color: #b8b4b2;
}

.intext:hover, .intext:focus{
    color: #e8e3e0;
}

.navlink{
    color: #faf8f6;
    text-transform: uppercase;
    padding-right: 2rem;
    padding-left: 2rem;
}

.navlink:hover, .navlink:focus{
    color: #a19f9e;
}

.para{
    width: 25rem;
}
/*
CLASSES END
*/