.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.flip{
    padding: 2rem;
}

.flip, .imglink, .flip-inner, .flip-front, .flip-back1, .flip-back2{
    border-radius: 50%;
} 

.flip-front{
    background-color: white;
}

.flex-container2 p{
    display: block;
}